
li {
  list-style: none;
  margin-left: 1rem;
  margin-block: 0.4rem;
}

li .hasChildren {
  font-weight: bold;
}

.tree-node-container {
  padding: 4px 8px;
  border: 1px solid #efefef;
  border-radius: 6px;
}

.inline-layout {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}