.process-container {
  width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #eee;
}

.process-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.steps-container {
  padding: 16px;
}

.process-steps {
  position: relative;
  padding-left: 16px;
}

.process-steps::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 64px;
  width: 2px;
  background-color: deeppink;
}

.process-step {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.condition-button {
  width: 24px;
  height: 24px;
  background-color: lightblue;
  border-radius: 6px;
}

.the-link {
  content: '';
  position: absolute;
  left: -16px;
  top: 26px;
  width: 54px;
  height: 22px;
  border-left: 2px solid yellowgreen;
  border-bottom: 2px solid orangered;
  border-bottom-left-radius: 16px;
}

.step-content {
  background-color: #efefef;
  border-radius: 8px;
  padding: 20px;
  width: 360px;
}

.sub-step {
  margin-left: 36px;
}

.step-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.step-description {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.sub-steps {
  position: relative;
  margin-left: 48px;
}

.sub-steps::before {
  content: '';
  position: absolute;
  left: 20px;
  top: -15px;
  height: calc(100% - 64px);
  width: 2px;
  background-color: #ccc;
}
